*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: .1rem solid teal;
    border-radius: .2rem;
}

.wrapper{
    margin-top: 3rem;
}

.scores{
    padding: 1rem;
    border-radius: .2rem;
    background: #e7e7e7;
    font-family: "Roboto Thin", sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current_score{
    width: 60%;
}

.button{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: .3rem;
    background: none;
}

.button__icon{
    width: 2rem;
    height: 2rem;
    user-select: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background: #e7e7e7;
    width: 30%;
    margin: 20rem auto 0 auto;
    border-radius: .2rem;
}

.close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close__background{
    background: lightgray;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.settings{
    padding: 2rem;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting:not(:last-child){
    margin-bottom: 1.5rem;
}

.setting p{
    font-family: "Roboto Thin", sans-serif;
    font-size: 1.4rem;
}

select{
    padding: .4rem;
    border-radius: .2rem;
}

.save{
    padding: 1rem;
    border: none;
    border-radius: .2rem;
    background: lightgray;
    font-size: 1.4rem;
    transition: all .3s ease;
    cursor: pointer;
}

.save__button{
    padding: 0 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
}

.save:hover{
    transform: translateY(-.3rem);
    background: #9b9b9b;
}

.save:active{
    transform: translateY(-.1rem);
}

.restart__button{
    border: none;
    background: #e7e7e7;
    border-radius: .2rem;
    padding: 2rem;
    font-size: 2rem;
    display: block;
    margin: 40rem auto 0 auto;
    transition: all .3s;
    cursor: pointer;
}

.restart__button:hover{
    background: #9b9b9b;
    transform: translateY(-.3rem);
}

.restart__button:active{
    transform: translateY(-.1rem);
}

.restart{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.settings__icon{
    z-index: 2;
}