*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: .1rem solid teal;
    border-radius: .2rem;
}

.wrapper{
    margin-top: 3rem;
}

.scores{
    padding: 1rem;
    border-radius: .2rem;
    background: #e7e7e7;
    font-family: "Roboto Thin", sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
